<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    
<bean id = "student" class = "dependancyInjetion.Student">
<property name="studentName" value="Prabakaran"></property>
<property name="id" value="110"></property>
</bean>

<bean id = "schoolStudent" class = "dependancyInjetion.Student">
<property name="studentName" value="Karthik"></property>
<property name="id" value="111"></property>
</bean>



</beans>